.game {
    height: inherit;
    flex: 1;
    display: flex;
    user-select: none;
    outline: none;
}

.dimensions {
    position: absolute;
    top: 38px;
    left: 12px;
    padding: 4px 6px;
    background: rgba(var(--high-contrast-rgb), 0.5);
    color: var(--background-color);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-radius: 4px;
    font-size: 12px;
}

.board {
    position: relative;
    margin: auto;
    font-size: 0;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
    border: 0.5px solid var(--low-contrast-color);
    background: var(--background-color);
}

.board.fakeit {
    background-image: url(../assets/board-tile-light.png);
    background-repeat: repeat;
    background-size: 20px;
}

.board-row {
    white-space: nowrap;
    background: inherit;
}

.board-cell {
    width: 20px;
    height: 20px;
    display: inline-block;
    background: inherit;
    border: 0.5px solid var(--low-contrast-color);
    margin: -0.5px;
    font-size: 14px;
    overflow: hidden;
    vertical-align: middle;
    outline: none;
}

.board-cell.selected {
    position: relative;
    border-color: #8888ff;
    z-index: 1;
}

.board-cell:active {
    background-color: rgba(var(--low-contrast-color), 0.5);
}

.board-cell:before {
    content: attr(data-value);
}

.board-cell:before,
.board-cell:after {
    display: inline-block;
    background: inherit;
    width: inherit;
    height: inherit;
    text-align: center;
    line-height: 19px;
    border: inherit;
    opacity: 0;
}

/* start values */
.board-cell.value-mine:before {
    content: '';
    background-color: var(--low-contrast-color);
    background-image: url(../assets/mine.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px;
}
.board-cell.value-mine.exposed:before {
    background-color: #ff9696;
}
.board-cell.value-empty:before {
    background-color: var(--low-contrast-color);
    content: ' ';
}
.board-cell.value-1 {color: #48a7ab;}
.board-cell.value-2 {color: #d2691e;}
.board-cell.value-3 {color: #4bc530;}
.board-cell.value-4 {color: #7562ec;}
.board-cell.value-5 {color: #a52a2a;}
.board-cell.value-6 {color: #ff7f50;}
.board-cell.value-7 {color: #1e90ff;}
.board-cell.value-8 {color: #e82400;}
/* end values */

.board-cell.flag:after,
.board-cell.flagmode:hover:after,
.board-cell.flagmode.selected:after {
    content: '';
    background-color: inherit;
    background-image: url(../assets/flag.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10px;
}

.board-cell.flag:after,
.board-cell.flag:after {
    opacity: 1;
}

.board-cell.flagmode:hover:after,
.board-cell.flagmode.selected:after {
    opacity: 0.3;
}

.board-cell.flag:before,
.board-cell.flagmode:hover:before,
.board-cell.flagmode.selected:before {
    display: none;
}

.board-cell.exposed:before {
    opacity: 1;
}

/* start peak */
.board-cell.peekall:before,
.board-cell.peek:hover:before,
.board-cell.peek.selected:before {
    opacity: 0.3;
}

.board-cell.peek.selected:before,
.board-cell.peek:hover:before,
.board-cell.peekall:before {
    display: inline-block;
}

.board-cell.peek.selected:after,
.board-cell.peek:hover:after,
.board-cell.peekall:after {
    display: none;
}
/* end peak */

/* start game lost display */
.board.gamelost .board-cell.value-mine:not(.exposed):before {
    opacity: 1;
}

.board.gamelost .board-cell.flag:not(.value-mine):after {
    background-image: url(../assets/flag-misplace.png);
    background-size: 10px;
}
/* end game lost display */

.gameover {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 38px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(var(--background-color-rgb), 0.7);
    text-align: center;
    line-height: 100%;
    z-index: 8;
}

.gameover-box {
    display: block;
    padding: 20px 30px;
    margin: auto;
    border-radius: 5px;
    background-color: var(--background-color);
    box-shadow: 0 0 10px rgba(var(--low-contrast-color-rgb), 0.5);
}

.gameover-message {
    display: block;
    position: relative;
    margin: auto;
    margin-bottom: 10px;
}

.gameover-playagain {
    display: block;
    position: relative;
    margin: auto;
    margin-top: 10px;
    padding: 12px 22px;
    background: #93ec99;
    color: #222222;
    border-radius: 4px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.15);
}

.gameover-playagain:hover:active {
    top: 2px;
    left: 2px;
    box-shadow: unset;
    background: #83dc89;
    box-shadow: inset 2px 2px rgba(0, 0, 0, 0.15);
}

/* darkmode */
.darkmode .board-cell.value-mine.exposed:before {
    background-color: #9c2626;
}

.darkmode .board.fakeit {
    background-image: url(../assets/board-tile-dark.png);
}
